*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.notice{
	color: #00C853;
	font-size: 1.3rem;
}
table{
    font-size: 1.1rem;
}

/* overlay */
.overlay{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    opacity: 0.8;
    /* display: none; */
}

/* //overlay */
/* modal
========== */
.mymodal{
    /* padding: 1rem; */
    width: 60vw;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 200px;
    border: 3px solid #00C853;
    background-color: white;
    max-height: 100vh;
    animation: slideIn .8s linear, fadeIn .2s ease-in;
}
.mymodal .mymodal-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mymodal .mymodal-content .mymodal-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #00C853;
}
.mymodal .mymodal-content .mymodal-header h3{
   margin: 0;
}

.mymodal .mymodal-content form{
    padding: 1rem;
}
form .btn, button{
    padding: 0.7rem 1rem;
    border: 0;
    cursor: pointer;
}
form .btn-success{
    background-color: #00C853;
    color: white;
    border-radius: 4px;
    /* margin-left: 90%; */
}
.btn-danger{
    background-color: rgb(185, 51, 51);
    color: white;
    border-radius: 4px;
}
.close{
    background-color: rgb(185, 51, 51);
    color: white;
    font-size: 1rem;
}
form{
    width: 100%;
}
form .form-group{
    padding: 0.5rem;
    width: 80%;
    margin: auto;
}
.mymodal form .form-control{
    padding: 0.5rem;
    width: 80%;
    font-size: 1rem;
    border-radius: 5px;
}
.mymodal form label{
    display: block;
    font-size: 1.3rem;
}
.mymodal h3{
    font-size: 1.5rem;
}
.d-none{
    display: none;
}
.mymodal-footer{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #00C853;
}
.form-label{
    text-align: center;
    font-size: 1.3rem;
}
.reg-modal{
    width: 70vh;
    animation: slideIn2 .8s linear, fadeIn .2s ease-in;
}
.reg-modal form .form-control{
    width: 70%;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 5px;
}
.first-login{
    color: #00C853;
    padding: 1rem;
    cursor: pointer;
}
.first-login:hover{
    text-decoration: underline;
    transform: scale(1.2) rotateX(25deg);
}
/* excel approve
================================================================= */
.approve{
    top: 0;
    bottom: 0;
    padding: 2rem 0;
}
.approve-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.approve-content{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 1rem;
}
.approve-content h2{
    color: #00C853;
}

.excel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.excel-handler form{
    display: inline;
    margin: 0;
    padding: 0;
}

@keyframes slideIn {
    0% {
      transform: translateY(100px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(-50px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateY(10px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }
  @keyframes slideIn2 {
    0% {
      transform: translateY(100px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(-50px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateY(10px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }
  
  @keyframes fadeIn {
    from {opacity:0;}
    to {opacity: 1;}
  }


  /* container
  ================= */
  .container{
      padding-top: 75px;
      padding-bottom: 0;
  }
  .text-center{
      text-align: center;
  }
  /* .container .allocation-report{
      padding: 1rem;
      display: flex;
      justify-content: center;
  } */
  