body{
    padding-top: 75px;
}
.marks{
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    width: 30px;
}
.btn{
    cursor: pointer;
}
.marks-tds{
    display: flex;
    align-items: center;
    justify-content: center;
}
table ul li{
   padding: 10px 0;
   max-width: 450px;
   font-size: 1.1rem;
}
.disabled{
    cursor: not-allowed;
}
